[submodule "vim/.vim/pack/preservim/start/nerdtree"]
	path = vim/.vim/pack/preservim/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/sheerun/start/vim-polyglot"]
	path = vim/.vim/pack/sheerun/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/pack/sheerun/start/vim-wombat-scheme"]
	path = vim/.vim/pack/sheerun/start/vim-wombat-scheme
	url = https://github.com/sheerun/vim-wombat-scheme.git
[submodule "vim/.vim/pack/tpope/start/sensible"]
	path = vim/.vim/pack/tpope/start/sensible
	url = https://tpope.io/vim/sensible.git
[submodule "vim/.vim/pack/jsy-lang/start/vim-jsy"]
	path = vim/.vim/pack/jsy-lang/start/vim-jsy
	url = https://github.com/jsy-lang/vim-jsy.git
[submodule "vim/.vim/pack/Glench/start/vim-jinja2-syntax"]
	path = vim/.vim/pack/Glench/start/vim-jinja2-syntax
	url = https://github.com/Glench/vim-jinja2-syntax
[submodule "vim/.vim/pack/tpope/start/fugitive"]
	path = vim/.vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/.vim/pack/itchyny/start/lightline"]
	path = vim/.vim/pack/itchyny/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
